<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>安阳</string>
		<string>澳门</string>
	</array>
	<key>B</key>
	<array>
		<string>北京</string>
		<string>白桦林</string>
		<string>白云山</string>
		<string>蚌噗</string>
	</array>
	<key>C</key>
	<array>
		<string>成都</string>
		<string>重庆</string>
	</array>
	<key>D</key>
	<array>
		<string>大连</string>
		<string>大同</string>
	</array>
	<key>E</key>
	<array/>
	<key>F</key>
	<array>
		<string>福州</string>
		<string>肥和</string>
	</array>
	<key>G</key>
	<array>
		<string>广州</string>
		<string>贵阳</string>
	</array>
	<key>H</key>
	<array>
		<string>合肥</string>
		<string>菏泽</string>
	</array>
	<key>I</key>
	<array>
		<string></string>
	</array>
	<key>J</key>
	<array>
		<string>济宁</string>
		<string>济南</string>
	</array>
	<key>K</key>
	<array>
		<string>开封</string>
	</array>
	<key>L</key>
	<array>
		<string>拉萨</string>
	</array>
	<key>M</key>
	<array>
		<string>迈乐</string>
		<string>眉山</string>
	</array>
	<key>N</key>
	<array>
		<string>南京</string>
	</array>
	<key>O</key>
	<array/>
	<key>P</key>
	<array>
		<string>濮阳</string>
	</array>
	<key>Q</key>
	<array>
		<string>青岛</string>
	</array>
	<key>R</key>
	<array>
		<string>日月潭</string>
	</array>
	<key>S</key>
	<array>
		<string>上海</string>
		<string>石家庄</string>
	</array>
	<key>T</key>
	<array>
		<string>天津</string>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<string>无锡</string>
		<string>威海</string>
		<string>潍坊</string>
	</array>
	<key>X</key>
	<array>
		<string>香港</string>
	</array>
	<key>Y</key>
	<array>
		<string>义乌</string>
		<string>烟台</string>
	</array>
	<key>Z</key>
	<array>
		<string>郑州</string>
		<string>湛江</string>
	</array>
</dict>
</plist>
